<form action="/" method="post">
<label for="name">Choisir l'utilisateur:</label>
	<select name="log[name]" id="name">
		<option value="Mathieu">Mathieu</option>
		<option value="Édouard">Édouard</option>
		<option value="Invité">Invité</option>
	</select>
	<input type="text" name="log[body]" placeholder="Votre Log">
	<input type="submit">
</form>

<h2>Vos logs</h2>
<% @logs.each do |log| %>

  <div class="<%= "panel" + " " + color(log.name) %>" >
  <div class="panel-heading"><h4><%= log.name %></h4></div>
  <div class="panel-body"><%= log.body %><a class="btn btn-default btn-sm" href="#">Édit</a></div>
  </div>

<% end %>
